<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joker.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pdd.PddActivity"></activity>
        <activity android:name=".ui.HalfActivity" />
        <activity android:name=".androidother.sparsearray.SparseArrayActivity" />
        <activity android:name=".mvp.ui.LoginActivity" />
        <activity android:name=".opensourceframe.leakcanary.MemoryLeakActivity2" />
        <activity android:name=".opensourceframe.leakcanary.MemoryLeakActivity" />
        <activity android:name=".lru.DiskLruCacheActivity" />
        <activity android:name=".opensourceframe.okhttp.NetTestActivity" />
        <activity android:name=".memoryoptimization.MemoryShake2Activity" />
        <activity android:name=".memoryoptimization.MemoryShakeActivity" />
        <activity android:name=".memoryoptimization.HandlerActivity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".fragment.FragmentTestActivity" />
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".opensourceframe.butterknife.XyKnifeActivity" />
        <activity android:name=".opensourceframe.butterknife.ButterKnifeActivity" />
        <activity android:name=".jetpack.room.RoomActivity" />
        <activity android:name=".jetpack.lifecycle.LifeCycleActivity" />
        <activity
            android:name=".startactivityforresult.BActivity"
            android:launchMode="singleTask" />
        <activity android:name=".startactivityforresult.AActivity" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".customview.PathActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".viewpager2.Vp2FragmentActivity" />
        <activity android:name=".viewpager2.ViewPager2Activity" />
        <activity
            android:name=".Main2Activity"
            android:allowTaskReparenting="true"
            android:exported="true"
            android:taskAffinity="com.lxy" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>